.dashbord {
}

.dashbord-body {
    position: relative;
}

.dash-setting {
    position: absolute;
    top: 76%;
    left: 20.2%;
    display: flex;
    align-items: center;
    gap: .5rem;
    cursor: pointer;
}

.profile {
    height: 10rem;
    display: flex;
    gap: 1rem;
}

.image {
    width: 150px;
    height: 150px;
}

.profile-section {
    display: flex;
    flex-direction: column;
}