.todo-card {
    position: relative;
}

.todo-edit {
    position: absolute;
    top: 0;
    right: 0;
    padding: .9rem;
    margin-right: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.created-updated {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: .9rem;
    margin-right: 1rem;


}